*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
/* #main {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0; /* uncommented, bg for visibility, image commented */
/* */ 
/* #car1 {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 10px;
}

#car2 {
    position: absolute;
    top: 50px;
    left: 200px;
    width: 40px;
    height: 30px;
    background-color: blue;
    border-radius: 5px;
}

#car3 {
    position: absolute;
    top: 50px;
    left: 300px;
    width: 20px;
    height: 10px;
    background-color: purple;
    border-radius: 3px;
} */
/* #box {
    /* display: flex;
    justify-content: center;  */
    /* width: 200px;
    height: 200px;
    background-color: red;
}
#inner{
    height: 100px;
    width: 100px;
    background-color: lightblue;
} */ */
/* #box1 {
    width:20px ;
    height: 20px;
    background-color: blue;
}
#box2 {
    width: 10px;
    height: 10px;
    background-color: red;
}
#box3 {
    width: 10px;
    height: 10px;
    background-color: red;
/* } */
 /* #parent{
    height: 400px;
    width: 400px;
    background-color: lightblue;
 }
 #child{
    height: 50%;
    width: 50%;
    background-color: crimson;
 }
 <h1>{
        font size: 100vw;} </h1> */ 
#box{
    height: 20vh;
    width: 20vh;
    background-color: crimson;
}
